/* Add here all your css styles (customizations) */
#main-content {
  margin-top: 12rem;
  margin-left:10rem;
  margin-right:20rem;
}

.backgroundarea {
  background-color: #6c757d;
}

/* Header */

.u-header {
  background-color: black;
}


.infoblurbtext {
  padding: 20px;
}

/* Header Navigation Links */
.dark-theme li.active .nav-link {
  color: #750b86;
}

/* Section Two Community */

.community {
  background-color: white;
  padding-top: 2em;
  padding-bottom: 2em;
}

.community h2 {
  text-align: center;
}

.textarea p {
  color: black;
  font-size: 1.5rem;
  padding-bottom:10px;
}

/* video */
.weather_video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('assets/img/osakaman.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

/* How it works */

#howitworks p {
  font-size: 1.3rem;
}

@media screen and (max-device-width: 800px) {
  html { background: url('assets/img/osakaman.jpg') #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

@media only screen and (min-width: 992px) {
  /*Info blurb text */
  .infoblurbtext h5 {
    font-size: 1.5rem
  }
  /* Images text */
  .textarea {
    padding-top: 4rem;
  }

  .textarea p {
    font-size: 2rem;
  }

}