<section id="howitworks" class="g-bg-black-opacity-0_7--after g-bg-img-hero g-py-45">
  <div class="u-bg-overlay__inner">
    <div class="container g-max-width-780 text-center g-mb-60">
      <div class="text-center u-heading-v8-1 g-mb-35">
        <h2 class="h2 text-uppercase u-heading-v8__title g-font-weight-700 g-color-white mb-0">How it
          <strong class="banner-background">Works</strong></h2>
      </div>

      <p class="mb-0 g-color-white">An quick overview of how Sensor Atlas.</p>
      <p style="font-size: x-small; color: black;">(Current development)</p>
    </div>

    <div class="container imacbkg">
      <!-- End Carousel v19 -->
      <div class="row">
        <div class="col-md-6 text-center g-mb-30">
          <div class="js-carousel text-center g-pb-30" data-infinite="true" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10" data-arrow-left-classes="fa fa-angle-left g-left-0" data-arrow-right-classes="fa fa-angle-right g-right-0">
            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/admin_panel.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/admin_panel.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Administration</h3>
            </div>

            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/server_shot.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/server_shot.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Add and maintain your servers</h3>
            </div>

            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/sensor_management2.png"data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/sensor_management2.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Manage your sensors</h3>
            </div>

            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/datastream.png"data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/datastream.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Manage your data streams</h3>
            </div>

            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/auth_screen.png"data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/auth_screen.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Users and Groups Authorization</h3>
            </div>


          </div>
        </div>
        <!-- End Carousel v19 -->
    </div>
  </div>
</section>
<section id="contact" class="g-color-white g-bg-primary g-pa-40 purple-beanbkg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h2 class="h3 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--md">Subscribe to our
          <strong>newsletter</strong></h2>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="input-group g-brd-white--focus">
          <form action="https://news.georepublic.info/subscribe" method="POST" accept-charset="utf-8">
            <label for="name">Name</label>
            <input type="text" placeholder="Enter your name..." name="name" id="name"/>
            <br/>
            <label for="email">Email</label>
            <input type="email" placeholder="Enter your email..." name="email" id="email"/>
            <br/>
            <input type="hidden" name="list" value="Vgplgu1VV0rc98923Qg3PAbg"/>
            <input type="submit" class="btn btn-md u-btn-outline-darkgray g-rounded-50 g-mr-10 g-mb-15" name="Subscribe" id="submit"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>