<section id="howitworks" class="g-bg-black-opacity-0_7--after g-bg-img-hero g-py-45">
  <div class="u-bg-overlay__inner">
    <div class="container g-max-width-780 text-center g-mb-60">
      <div class="text-center u-heading-v8-1 g-mb-35">
        <h2 class="h2 text-uppercase u-heading-v8__title g-font-weight-700 g-color-white mb-0">使い
          <strong class="banner-background">方</strong></h2>
      </div>

      <p class="mb-0 g-color-white">Sensor Atlasの概要</p>
      <p style="font-size: x-small; color: black;">（現在の開発）</p>
    </div>

    <div class="container imacbkg">
      <!-- End Carousel v19 -->
      <div class="row">
        <div class="col-md-6 text-center g-mb-30">
          <div class="js-carousel text-center g-pb-30" data-infinite="true" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10" data-arrow-left-classes="fa fa-angle-left g-left-0" data-arrow-right-classes="fa fa-angle-right g-right-0">
            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/admin_panel.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/admin_panel.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">管理</h3>
            </div>

            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/server_shot.png" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/server_shot.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">サーバーの追加と管理</h3>
            </div>

            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/sensor_management2.png"data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/sensor_management2.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">センサーの管理</h3>
            </div>

            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/datastream.png"data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/datastream.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">データストリームを管理する</h3>
            </div>

            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="assets/img/auth_screen.png"data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="assets/img/auth_screen.png" alt="Image Description">
              </a>
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">ユーザーとグループの承認</h3>
            </div>


          </div>
        </div>
        <!-- End Carousel v19 -->
    </div>
  </div>
</section>
<section id="contact" class="g-color-white g-bg-primary g-pa-40 purple-beanbkg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 align-self-center">
        <h2 class="h3 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--md"><strong>ニュースレター</strong>を購読する</h2>
      </div>

      <div class="col-md-4 align-self-center">
        <div class="input-group g-brd-white--focus">
          <input class="form-control form-control-lg g-font-size-default g-placeholder-white g-color-white g-bg-transparent g-bg-transparent--focus g-brd-white rounded-0" name="email" type="email" placeholder="メールアドレスを入力...">
          <div class="input-group-append">
            <span class="input-group-text g-color-white g-bg-transparent g-brd-white rounded-0"><i class="fa fa-envelope"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>