<section id="howitworks" class="g-bg-black-opacity-0_7--after g-bg-img-hero g-py-45">
  <div class="u-bg-overlay__inner">
    <div class="container g-max-width-780 text-center g-mb-60">
      <div class="text-center u-heading-v8-1 g-mb-35">
        <h2 class="h2 text-uppercase u-heading-v8__title g-font-weight-700 g-color-white mb-0">How it
          <strong class="banner-background">Works</strong></h2>
      </div>

      <p class="mb-0">An overview of how Sensor Atlas is like to work with.</p>
    </div>

    <div class="container imacbkg">
      <!-- End Carousel v19 -->
      <div class="row">
        <div class="col-md-6 text-center g-mb-30">
          <div class="js-carousel text-center g-pb-30" data-infinite="true" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10" data-arrow-left-classes="fa fa-angle-left g-left-0" data-arrow-right-classes="fa fa-angle-right g-right-0">
            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="../../assets/img-temp/900x600/img5.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="../../assets/img-temp/900x600/img5.jpg" alt="Image Description">
              </a>
            </div>

            <div class="js-slide">
              <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="../../assets/img-temp/900x600/img4.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid g-rounded-6" src="../../assets/img-temp/900x600/img4.jpg" alt="Image Description">
              </a>
            </div>
          </div>

          <h3 class="h4 g-color-black">Nulla ipsum dolor</h3>
          <p>Consectetur adipiscing elitut eleifend nisl</p>
        </div>
  
      <!-- <section class="js-carousel g-pt-60 g-pt-0--md imacbkg"
                data-infinite="true"
                data-arrows-classes="u-arrow-v1 g-pos-abs g-absolute-centered--x--md g-top-0 g-width-40 g-height-40 g-color-white g-color-black--hover g-bg-black g-bg-primary--hover g-transition-0_2 g-transition--ease-in"
                data-arrow-left-classes="fa fa-chevron-left g-left-0 g-left-50x--md g-ml-35--md"
                data-arrow-right-classes="fa fa-chevron-right g-right-0 g-right-50x--md g-ml-85--md">
        <div class="js-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="embed-responsive g-mb-0--md g-mb-30">
                <img src="assets/img/admin_panel.png" width="100%" height="100%">
              </div>
            </div>

            <div class="col-md-6 g-color-white g-pt-80--md">
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Administration</h3>
              <p class="g-mb-0">This is the main control room. Here, you can interact with everything associated with your sensor stations. Add new staff, update your sensor stations, and set maintenance schedules for the sensors in your network.</p>
            </div>
          </div>
        </div>
        <div class="js-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="embed-responsive g-mb-0--md g-mb-30">
                <img src="assets/img/server_shot.png" width="100%" height="100%">
              </div>
            </div>

            <div class="col-md-6 g-color-white g-pt-80--md">
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Add and maintain your servers</h3>
            </div>
          </div>
        </div>
        <div class="js-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="embed-responsive g-mb-0--md g-mb-30">
                <img src="assets/img/sensor_management2.png" width="100%" height="100%">
              </div>
            </div>

            <div class="col-md-6 g-color-white g-pt-80--md">
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Manage your sensors</h3>
              <p class="g-mb-0">Sensor Atlas uses the Sensor Things API protocol. Add data streams, locations, and individual devices.</p>
            </div>
          </div>
        </div>
        <div class="js-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="embed-responsive g-mb-0--md g-mb-30">
                <img src="assets/img/sensor_list.png" width="100%" height="100%">
              </div>
            </div>

            <div class="col-md-6 g-color-white g-pt-80--md">
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Select from a range of different sensors</h3>
              <p class="g-mb-0">Each data stream uses a specific sensor. Each sensor is tied to a single weather station and location.</p>
            </div>
          </div>
        </div>
        <div class="js-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="embed-responsive g-mb-0--md g-mb-30">
                <img src="assets/img/datastream.png" width="100%" height="100%">
              </div>
            </div>

            <div class="col-md-6 g-color-white g-pt-80--md">
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Manage your data streams</h3>
              <p class="g-mb-0">Each data stream is fully customizable. Tie them to individual sensors and locations, specify measurements, add metadata, and so on.</p>
            </div>
          </div>
        </div>
        <div class="js-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="embed-responsive g-mb-0--md g-mb-30">
                <img src="assets/img/auth_screen.png" width="100%" height="100%">
              </div>
            </div>
            <div class="col-md-6 g-color-white g-pt-80--md">
              <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-5">Users and Groups</h3>
              <p class="g-mb-0">Need to add staff and assign them to different teams? Add them with the authorization panel, and assign permissions to individual team members or entire groups.</p>
            </div>
          </div>
        </div>
      </section>
 -->      <!-- End Carousel v19 -->
    </div>
  </div>
</section>
