<section id="infoblurb" class="backgroundarea">
  <div class="container infoblurbtext">
    <h2 class="h2 g-color-black g-font-size-36 g-letter-space-1">
        Sensor Atlasの実際
    </h2>
    <h5 class="h5 g-color-black g-letter-spacing-1">私たちは、担当スタッフがセンサとそのステーションに関連するすべてのものを追加、削除、変更するための管理ページを提供しています。 IOTと公開政府</h5>
    <h5 class="h5 g-color-black g-letter-spacing-1">コミュニティは、提供されたAPIを使用して、データから有用なアプリケーションを検索して作成することができます。</h5>
  </div>
</section>
<section id="yourcommunity" class="community">

  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="img-fluid" src="assets/img/farmer_low.jpg" alt="Farmer in garden">
      </div>
      <div class="col-md-6 col-sm-6 textarea">
        <h2 class="h2 g-line-height-1_2 g-letter-spacing-1 g-font-size-40 g-font-size-65--md g-mb-40">スマート農法</h2>
        <p class="mb-0">自由気候データと公開気象データを用いて、農業者は気象パターンを予測して作物の失敗を防ぐことができます</p>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6 col-sm-6 textarea">
        <h2 class="h2 g-line-height-1_2 g-letter-spacing-1 g-font-size-40 g-font-size-65--md g-mb-40">防止</h2>
        <p class="mb-0">地域社会は地元の気象状況を監視し、自然災害時の危険を防止することができます</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <img class="img-fluid" src="assets/img/prevention.jpg" alt="Prevention meeting">
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="img-fluid" src="assets/img/firetruck_low.jpg" alt="Kyoto Firetruck">
      </div>
      <div class="col-md-6 col-sm-6 textarea">
        <h2 class="h2 g-line-height-1_2 g-letter-spacing-1 g-font-size-40 g-font-size-65--md g-mb-40">安全性</h2><p class="mb-0">緊急サービスは早期警戒洪水システムに迅速に対応できる</p>
      </div>
    </div>
  </div>
  <hr/>
</section>
