  <section id="infoblurb" class="backgroundarea">
    <div class="container infoblurbtext">
      <h2 class="h2 g-color-black g-font-size-36 g-letter-space-1">
          Sensor Atlas in action
      </h2>
      <h5 class="h5 g-color-black g-letter-spacing-1">We provide administration pages for your staff to add, remove, and modify everything related to your sensors and their stations. IOT Open Government</h5>
      <h5 class="h5 g-color-black g-letter-spacing-1">Your community can use the provided API to retrieve and create useful applications out of your data.</h5>
    </div>
  </section>
  <section id="yourcommunity" class="community">

    <div class="container">
      <hr/>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/farmer.png" alt="Farmer in garden">
        </div>
        <div class="col-md-6 col-sm-6 textarea">
          <h2 class="h2 g-line-height-1_2 g-letter-spacing-1 g-font-size-40 g-font-size-65--md g-mb-40">Smart Farming</h2>
          <p class="mb-0">With free and open weather data, farmers could potentially predict weather patterns and prevent crop failure.</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6 col-sm-6 textarea">
          <h2 class="h2 g-line-height-1_2 g-letter-spacing-1 g-font-size-40 g-font-size-65--md g-mb-40">Prevention</h2>
          <p class="mb-0">Local communities can monitor hyper-local weather conditions, preventing danger during a natural disaster</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/prevention.jpg" alt="Prevention meeting">
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/firetruck.png" alt="Kyoto Firetruck">
        </div>
        <div class="col-md-6 col-sm-6 textarea">
          <h2 class="h2 g-line-height-1_2 g-letter-spacing-1 g-font-size-40 g-font-size-65--md g-mb-40">Safety</h2><p class="mb-0">Emergency services could respond more quickly to an early-warning flood system</p>
        </div>
      </div>
    </div>
    <hr/>
  </section>
