<section id="home">
    <div class="u-bg-overlay overlay g-color-white">
      <video poster="assets/img/osakaman.jpg" class="u-bg-overlay overlay g-color-white g-bg-black-opacity-0_5--after weather_video" id="bgvid" playsinline autoplay muted loop>
        <source src="assets/img/Tiapapata_mist540.mp4" type="video/mp4">
      </video>
      <div class="u-bg-overlay__inner g-flex-centered g-height-100vh g-min-height-600 g-py-40">
        <div id="main-content" class="col-md-6 col-sm-6">
          <h2 class="h2 g-line-height-1_2 g-letter-spacing-1 g-font-size-30 g-font-size-45--md g-color-white g-mb-30"><strong class="g-font-weight-700er">Sensor Atlas</strong></h2>
          <h3 class="h3 g-color-white g-letter-spacing-1">An Open Data Initiative to make environmental sensor information accessible to all.</h3>
        </div>
      </div>
    </div>
</section>
