<section id="home">
    <div class="u-bg-overlay overlay g-color-white">
      <video poster="assets/img/WakayamaArea.jpg" class="u-bg-overlay overlay g-color-white g-bg-black-opacity-0_5--after weather_video" id="bgvid" playsinline autoplay muted loop>
        <source src="assets/img/Tiapapata_mist540.mp4" type="video/mp4">
      </video>
      <div class="u-bg-overlay__inner g-flex-centered g-height-100vh g-min-height-600 g-py-40">
        <div id="main-content" class="col-md-6 col-sm-6">
          <h2 class="h2 g-line-height-1_2 g-letter-spacing-1 g-font-size-30 g-font-size-45--md g-color-white g-mb-30"><strong class="g-font-weight-700er">Sensor Atlas</strong></h2>
          <h3 class="h3 g-color-white g-letter-spacing-1">すべての人が環境センサー情報にアクセスできるようにするためのオープンデータイニシアチブ。</h3>
        </div>
      </div>
    </div>
    <div class="col-md-12 beanbkg">
      <div class="row text-center text-uppercase g-bg-black-opacity-0_5">
        <div class="col-lg-3 col-sm-6 g-mb-50" style="margin-top:35px;">
          <div class="js-counter g-color-primary g-font-size-35 g-font-weight-300 g-mb-7">144</div>
          <h4 class="h5 g-color-white">バルコニーの日光</h4>
        </div>

        <div class="col-lg-3 col-sm-6 g-mb-50" style="margin-top:35px;">
          <div class="js-counter g-color-primary g-font-size-35 g-font-weight-300 g-mb-7">75</div>
          <h4 class="h5 g-color-white">mmの雨</h4>
        </div>

        <div class="col-lg-3 col-sm-6 g-mb-50" style="margin-top:35px;">
          <div class="js-counter g-color-primary g-font-size-35 g-font-weight-300 g-mb-7">4</div>
          <h4 class="h5 g-color-white">あなたの水族館がオーバーフローした回数</h4>
        </div>

        <div class="col-lg-3 col-sm-6 g-mb-50" style="margin-top:35px;">
          <div class="js-counter g-color-primary g-font-size-35 g-font-weight-300 g-mb-7">17</div>
          <h4 class="h5 g-color-white">実行中のセンサー</h4>
        </div>
      </div>
    </div>
</section>
