<section id="home">
    <div class="u-bg-overlay overlay g-color-white">
      <video poster="assets/img/osakaman.jpg" class="u-bg-overlay overlay g-color-white g-bg-black-opacity-0_5--after weather_video" id="bgvid" playsinline autoplay muted loop>
        <source src="assets/img/Tiapapata_mist540.mp4" type="video/mp4">
      </video>
      <div class="u-bg-overlay__inner g-flex-centered g-height-100vh g-min-height-600 g-py-40">
        <div id="main-content" class="col-md-6 col-sm-6">
          <h2 class="h2 g-line-height-1_2 g-letter-spacing-1 g-font-size-30 g-font-size-45--md g-color-white g-mb-30"><strong class="g-font-weight-700er">Sensor Atlas</strong></h2>
          <h3 class="h3 g-color-white g-letter-spacing-1">An Open Data Initiative to make environmental sensor information accessible to all.</h3>
        </div>
      </div>
    </div>
    <div class="col-md-12 beanbkg">
      <!-- Counters -->
      <div class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
        <div class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_7--after" style="height: 130%;"></div>

        <div class="container g-pt-100 g-pb-70">
          <div class="row">
            <div class="col-sm-6 col-lg-3 align-items-end mt-auto g-mb-50">
              <div class="text-center">
                <span class="js-counter g-color-primary g-font-weight-600 g-font-size-60 g-line-height-0_9 mr-2">75</span>
                <h3 class="d-inline-block g-color-white g-font-weight-600 g-font-size-22 mb-0">Clients</h3>
              </div>
            </div>

            <div class="col-sm-6 col-lg-3 align-items-end mt-auto g-mb-50">
              <div class="text-center">
                <span class="js-counter g-color-primary g-font-weight-600 g-font-size-60 g-line-height-0_9 mr-2">20</span>
                <h3 class="d-inline-block g-color-white g-font-weight-600 g-font-size-22 mb-0">Products</h3>
              </div>
            </div>

            <div class="col-sm-6 col-lg-3 align-items-end mt-auto g-mb-50">
              <div class="text-center">
                <span class="js-counter g-color-primary g-font-weight-600 g-font-size-60 g-line-height-0_9 mr-2">15</span>
                <h3 class="d-inline-block g-color-white g-font-weight-600 g-font-size-22 mb-0">Members</h3>
              </div>
            </div>

            <div class="col-sm-6 col-lg-3 align-items-end mt-auto g-mb-50">
              <div class="text-center">
                <span class="js-counter g-color-primary g-font-weight-600 g-font-size-60 g-line-height-0_9 mr-2">50</span>
                <h3 class="d-inline-block g-color-white g-font-weight-600 g-font-size-22 mb-0">Projects</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Counters -->
    </div>
</section>
